/* line 7, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 10, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #ecf0f1;
  background: url('../images/grey_wash_wall.png'); }

/* line 18, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #ecf0f1; }

/* line 24, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 1080px;
  display: block;
  margin: 0 auto; }

/* line 30, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.header {
  padding: 10px;
  border-bottom: 1px solid #efefef; }

/* line 35, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.nav {
  display: block;
  text-align: center;
  padding: 0; }
  /* line 40, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    /* line 46, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
    .nav li a {
      padding: 5px 10px;
      font-size: 20px; }
    /* line 50, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
    .nav li a:hover {
      font-weight: bold; }

/* line 53, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.main {
  padding: 10px;
  border-bottom: 1px solid #efefef; }

/* line 60, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.home .containter {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 5px; }
  /* line 68, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
  .home .containter #theater, .home .containter #dvd {
    display: block;
    width: 98%;
    margin: 20px auto;
    padding: 0; }
    /* line 74, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
    .home .containter #theater li, .home .containter #dvd li {
      display: inline-block;
      margin: 0 45px 20px;
      padding: 5px;
      width: 252px;
      border: 1px solid #ecf0f1;
      border-radius: 5px;
      vertical-align: top;
      background-color: rgba(0, 0, 0, 0.5); }
      /* line 83, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .home .containter #theater li h2, .home .containter #dvd li h2 {
        margin: 5px; }
      /* line 85, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .home .containter #theater li img, .home .containter #dvd li img {
        height: 100px;
        display: inline-block;
        float: left;
        margin: 0 10px 10px 10%;
        overflow: hidden; }
      /* line 91, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .home .containter #theater li div, .home .containter #dvd li div {
        width: 55%;
        display: inline-block;
        float: left;
        margin-top: -10px;
        overflow: hidden; }
      /* line 98, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .home .containter #theater li h3, .home .containter #dvd li h3 {
        clear: both;
        margin: 0;
        margin-top: 5px; }
      /* line 103, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .home .containter #theater li .score, .home .containter #dvd li .score {
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 16px; }
        /* line 109, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
        .home .containter #theater li .score span, .home .containter #dvd li .score span {
          color: #f1c40f;
          letter-spacing: 1.5px; }
      /* line 113, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .home .containter #theater li .synopsis, .home .containter #dvd li .synopsis {
        max-height: 75px;
        padding: 0 15px;
        overflow: auto; }

/* line 121, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.theater .containter {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 5px; }
  /* line 129, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
  .theater .containter #theater {
    display: block;
    width: 98%;
    margin: 20px auto;
    padding: 0; }
    /* line 135, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
    .theater .containter #theater li {
      display: inline-block;
      margin: 0 45px 20px;
      padding: 5px;
      width: 252px;
      border: 1px solid #ecf0f1;
      border-radius: 5px;
      vertical-align: top;
      background-color: rgba(0, 0, 0, 0.5); }
      /* line 144, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .theater .containter #theater li h2 {
        margin: 5px; }
      /* line 146, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .theater .containter #theater li img {
        height: 100px;
        display: inline-block;
        float: left;
        margin: 0 10px 10px 10%;
        overflow: hidden; }
      /* line 152, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .theater .containter #theater li div {
        width: 55%;
        display: inline-block;
        float: left;
        margin-top: -10px;
        overflow: hidden; }
      /* line 159, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .theater .containter #theater li h3 {
        clear: both;
        margin: 0;
        margin-top: 5px; }
      /* line 164, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .theater .containter #theater li .score {
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 16px; }
        /* line 170, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
        .theater .containter #theater li .score span {
          color: #f1c40f;
          letter-spacing: 1.5px; }
      /* line 174, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .theater .containter #theater li .synopsis {
        max-height: 75px;
        padding: 0 15px;
        overflow: auto; }

/* line 182, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.movies .containter {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 5px; }
  /* line 190, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
  .movies .containter #movies {
    display: block;
    width: 98%;
    margin: 20px auto;
    padding: 0; }
    /* line 196, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
    .movies .containter #movies li {
      display: inline-block;
      margin: 0 45px 20px;
      padding: 5px;
      width: 252px;
      border: 1px solid #ecf0f1;
      border-radius: 5px;
      vertical-align: top;
      background-color: rgba(0, 0, 0, 0.5); }
      /* line 205, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .movies .containter #movies li h2 {
        margin: 5px; }
      /* line 207, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .movies .containter #movies li img {
        height: 100px;
        display: inline-block;
        float: left;
        margin: 0 10px 10px 10%;
        overflow: hidden; }
      /* line 213, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .movies .containter #movies li div {
        width: 55%;
        display: inline-block;
        float: left;
        margin-top: -10px;
        overflow: hidden; }
      /* line 220, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .movies .containter #movies li h3 {
        clear: both;
        margin: 0;
        margin-top: 5px; }
      /* line 225, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .movies .containter #movies li .score {
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 16px; }
        /* line 231, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
        .movies .containter #movies li .score span {
          color: #f1c40f;
          letter-spacing: 1.5px; }
      /* line 235, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .movies .containter #movies li .synopsis {
        max-height: 75px;
        padding: 0 15px;
        overflow: auto; }

/* line 241, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.coming .containter {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 5px; }
  /* line 249, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
  .coming .containter #theater, .coming .containter #dvd {
    display: block;
    width: 98%;
    margin: 20px auto;
    padding: 0; }
    /* line 255, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
    .coming .containter #theater li, .coming .containter #dvd li {
      display: inline-block;
      margin: 0 45px 20px;
      padding: 5px;
      width: 252px;
      border: 1px solid #ecf0f1;
      border-radius: 5px;
      vertical-align: top;
      background-color: rgba(0, 0, 0, 0.5); }
      /* line 264, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .coming .containter #theater li h2, .coming .containter #dvd li h2 {
        margin: 5px; }
      /* line 266, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .coming .containter #theater li img, .coming .containter #dvd li img {
        height: 100px;
        display: inline-block;
        float: left;
        margin: 0 10px 10px 10%;
        overflow: hidden; }
      /* line 272, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .coming .containter #theater li div, .coming .containter #dvd li div {
        width: 55%;
        display: inline-block;
        float: left;
        margin-top: -10px;
        overflow: hidden; }
      /* line 279, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .coming .containter #theater li h3, .coming .containter #dvd li h3 {
        clear: both;
        margin: 0;
        margin-top: 5px; }
      /* line 284, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .coming .containter #theater li .score, .coming .containter #dvd li .score {
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 16px; }
        /* line 290, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
        .coming .containter #theater li .score span, .coming .containter #dvd li .score span {
          color: #f1c40f;
          letter-spacing: 1.5px; }
      /* line 294, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
      .coming .containter #theater li .synopsis, .coming .containter #dvd li .synopsis {
        max-height: 75px;
        padding: 0 15px;
        overflow: auto; }

/* line 300, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.contact .containter {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 5px; }

/* line 309, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
.footer {
  padding: 10px; }
  /* line 312, /Users/artur/Desktop/SinglePageAplication/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px; }
